# emacs junk
*~
*#

# eclipse junk
.project
.settings
.cproject

# executable stuff
spnet
/Default/

# data files
*.dat
data/raw_*
data/nn_feat_inp*.txt
data/#*
data/spike*
*.txt
*.scp

# testing artifacts
octave*
